{% extends "layout.html" %}

{% block content %}
<div class="row">
	<div class="pull-right">
		<a class="btn btn-primary" href="/create" role="button">Add Tweet</a>
	</div>
</div>

{% for tweet in tweets %}
<div class="row">
	<div class="col-md-3 vcenter">
		<img src="http://1.bp.blogspot.com/-1aK7HDgQUXs/UJJRzSCvCRI/AAAAAAAABec/9YECGPST3rk/s1600/111.png">
	</div>
	<div class="col-md-3 vcenter">
		Name: <a href="/users/{{tweet.UserId}}">{{tweet.User.name}} </a> 
	</div>
	<div class="col-md-4 vcenter">
		Tweet: {{tweet.tweet}}
	</div>
	<div class="col-md-2">
		<a class="btn btn-danger" href="/delete/{{tweet.id}}" role="button">Delete</a>
	</div>
</div>
{% endfor %}

{% endblock %}